.container_col {
	width: 1200px;
	margin: 0 auto;
}
.page-center {
	margin: 20px 0px;
	font-size: 14px;
	color: #888;
}
.page-center>a {
	color: #6e6e6e;
	text-decoration: none;
}
.page-center>a:hover {
	background: none;
	color: #B60606;
}
.page-left {
	width: 200px;
	float: left;
	color: white;
	border-bottom: 1px solid #ededed;
}
.page-right {
	width: 900px;
	float: right;
	background: white;
	padding: 40px;

	margin-bottom: 50px;
}


.page-left>ul>li {
	list-style: none;
	height: 58px;
	background: white;
}
.active {
	    border-left: 5px solid #b61412;
}
.page-left span {
	padding-left: 20px;
}
.page-left>ul>li>a {
	color: #666;
	text-decoration: none;
	border-bottom: 1px solid #ededed;
	line-height: 59px;
	display: block;
}

.page-left>ul>li>a:hover {
	background: #F15B5B;
	color: white;
}
.page-biaoti>h1,.page-biaoti>span {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
.page-biaoti {
	line-height: 30px;
	border-bottom:  1px solid rgb(237, 237, 237);
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.page-con {
	font-size: 14px;
	line-height: 28px;
	color: rgb(102, 102, 102);
	margin-top: 20px;
}
.page-t {
	text-align: center;
	font-size: 12px;
	line-height: 30px;
	font-weight: normal;
	    color: #888;
}