			*{
				margin: 0;
				padding: 0;
			}
			body {
				background: url(img/bdbj.png) no-repeat top center #F5F5F5;
				font-family: 微软雅黑;
			}
			.header {
				height: 295px;
				width:100%;
				position: relative;
			}
			.container {
				width: 1200px;
				margin:0 auto;
				position: relative;
			}
			.logo {
				width: 259px;
				height: 112px;
				position: absolute;
				top:77px;
				left: 20px;
			}
			
			.search{
				background-color: white;
				width: 300px;
				height: 20px;
				position: absolute;
				right:0px;
				top:240px;
				padding: 10px 90px 10px 0;
			}
			.ipt-sea {
				height: 20px;
				line-height: 20px;
				width:285px;
				padding-left: 15px;
				font-size: 14px;
				border:0px white;
				outline: none ;
			}
			.search>a {
				background-color: #cf0d0d;
				width:  80px;
				height: 40px;
				line-height: 40px;
				text-align: center;
				position: absolute;
				top: 0px;
				right: 0px;
				
			}
			
			
			.nav {
				width: 1200px;
				height: 80px;
				margin: 0 auto 15px; 	
			}
			.nav>ul>li>a>img {
				display: block; 
				margin: 15px auto 10px auto;
				transition: all 0.3s;
			}
			
			.nav>ul>li {
				list-style: none;
				float: left;
				width: 150px;
				height: 80px;
				background-color: #CF0D0D;
				text-align: center;
				font-size: 15px;
			}
			a:hover {
				background-color: #B60606;
				
			}
			.nav>ul>li:hover img {
				transform: scaleX(-1);
			}
			a{
				color: white;
				text-decoration: none;
				height: 80px;
				line-height: 16px;
				font-size: 15px;
				display: block;
				overflow: hidden;
				
			}
			.clearfix {
				clear:both;
				height: 1px;
			}
			.foot {
				width: 1200px;
				text-align: center;
				padding: 20px 0px;
				margin: 15px auto;
				background-color: white;
				line-height: 30px;
			}